PUBLIC_APP_URL=https://bestworthproductsltd.ng
CORS_ORIGINS=https://www.bestworthproductsltd.ng
JWT_SECRET=generate_a_random_secret_of_at_least_32_characters
NEWSLETTER_TOKEN_SECRET=generate_a_separate_random_secret_of_at_least_32_characters
TRUST_PROXY_HOPS=1
MONGODB_URI=your_mongodb_connection_string
EMAIL_PROVIDER=sendgrid
SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_FROM=noreply@bestworthproductsltd.ng
COMPANY_EMAIL=divineogadinma2023@gmail.com
ADMIN_INITIAL_PASSWORD=set_only_when_running_the_seed_script
