PUBLIC_APP_URL=https://bestworth.onrender.com
MONGODB_URI=your_mongodb_connection_string
EMAIL_PROVIDER=sendgrid
SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_FROM=bestworthproduct@gmail.com
COMPANY_EMAIL=divineogadinma2023@gmail.com
